 
  /*--------------------AJUSTE DE RESOLUCION PARA MOBILE------------------*/

  @media screen and (min-width: 320px){
    .enlaces {
        text-decoration: none;
    } 
    .body-index {
        width: 100vw;
        background-image: url('../media/tienda.jpg');
        background-size: center;
    }
    .body-calzados {
        background-image: url('../media/portada-calzados.jpg');
        background-size: cover;
    }
    .body-Abrigos {
        background-image: url('../media/portada-abrigos.jpg');
        background-size: cover;
    }
    .body-jeans {
        background-image: url('../media/portada-pantalones.jpg');
        background-size: cover;
      }
    .body-remeras {
        background-image: url('../media/led.jpg');
        background-size: cover;
    } 

    @mixin grilla {
        grid-template-areas: 
        "logo"
        "encabezado"
        "nav"
      ;
      grid-gap: 3px; 
    }
  .header-paginas{
       width: 100vw;
        display: grid;
        @include grilla;

    @import "_header-encabezado";
      .nav-index{
        width: 100vw;
        grid-area: nav;
        border-radius: 15px;
      .tam-img {
        width: 40px;
        height: 40px;
        }
      }
    } 
      /*======SECTOR MAIN======*/

      main {
           
        .col {
           height: 450px;
           border-radius: 15px;
           
           .formato-imagen {
            width: 300PX;
            height: 300PX;
            border-radius: 15px;
            }
        }  
    }
              /* ----main index----*/

       .body-index{
        main {
             .col {
                height: 350px;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                .texto-index {
                    color: aliceblue;
                    position: absolute;
                  } 
            }
         }  
       }
        /* ----main calzados----*/
        
     .body-calzados {
       
        main .col {
            .seccion-calzados {
                font-family: 'Courier New', Courier, monospace;
                color: maroon;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                    font-weight: 300;
                }
        } 
        .texto-calzados {
            color: aliceblue;
            position: absolute;
         } 
       }
    }
    /* ----main calzados----*/
    
    .body-Abrigos {
           
        main .col {
            .seccion-abrigos {
                font-family: 'Courier New', Courier, monospace;
                color: rgb(203, 214, 224);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                    font-weight: 300;
                }
        } 
        .texto-abrigos {
            color: aliceblue;
            position: absolute;
          }
       }  
    }
     /* ----main pantalones----*/
    
     .body-jeans {
           
        main .col {
            .seccion-jeans {
                font-family: 'Courier New', Courier, monospace;
                color: rgb(207, 213, 161);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                    font-weight: 300;
                }
        } 
        .texto-pantalones {
             color: burlywood;
             position: absolute;
        }
      }  
    }
      /* ----main remeras----*/
    
      .body-remeras {
           
        main .col {
            .seccion-remeras {
                font-family: 'Courier New', Courier, monospace;
                color: rgb(233, 52, 52);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                    font-weight: 300;
                }
        } 
        .texto-remeras {
            color: whitesmoke;
            position: absolute;
        }
      }  
    }  
     /*================ SECCION FOOTER ================*/
      
     footer {
        display: flex;
        justify-content: center;

        .pie-de-pagina {
            display: flex;
            flex-direction: row;
            list-style: none;
            li h3 {
                font-size: 15px;
                position: relative;
                top: 15px;
             }

          // UTILIZO MAPS//

        $redes: (
          facebook: #0026a2,
          instagram: #c000f6,
          gmail: #ce3a3af6,
    );

    @each $red,$color in $redes {
        .medios-de-contacto-#{$red}{
            background-color: $color;
            width: 30px;
            height: 40px;
            margin-left: 10px;
          }
        }
      }
    }
     
                /*------SECCION CORREO------*/
     
   .body-correo {
        width: 100vw;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../media/mailbox-g523efffa6_1920.jpg);
    .container {
        width: 310px;
        height: 530px;
        margin-top: 100px;
        background-image: radial-gradient(circle at 76.81% 107.48%, #9f4ff4 0, #7944f3 25%, #3c3cf2 50%, #0037f1 75%, #0034ef 100%);
        border-radius: 15px;
        font-size: 18px;
        padding: 30px;
        box-shadow: 7px 13px 37px #000;
        .row {
            .titulo-consulta {
                display: flex;
                justify-content: center;
                padding: 5px 0px;
                font-size: 40px;
                color: #9cf1ff;
                
                }
                .col {
                    @import "_datos-correo";
                    }
                .botones-correo{ 
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                   }
            } 
        }
    }  
  }

  /*--------------------AJUSTE DE RESOLUCION PARA TABLET------------------*/

  @media screen and (min-width: 720px){
    .body-index {
        width: 100vw;
        background-image: url('../media/tienda.jpg');
        background-size: center;
    }
    .body-calzados {
        background-image: url('../media/portada-calzados.jpg');
        background-size: cover;
    }
    .body-Abrigos {
        background-image: url('../media/portada-abrigos.jpg');
        background-size: cover;
    }
    .body-jeans {
        background-image: url('../media/portada-pantalones.jpg');
        background-size: cover;
      }
    .body-remeras {
        background-image: url('../media/led.jpg');
        background-size: cover;
    } 
    
    // UTILIZO MIXIN //

    @mixin grilla {
        grid-template-areas: 
        "logo"
        "encabezado"
        "nav"
      ;
      grid-gap: 3px; 
    }
  .header-paginas{
    width: 100vw;
    display: grid;
    @include grilla;
    
    @import "_header-encabezado";
      .nav-index{
        width: 98vw;
      grid-area: nav;
      border-radius: 15px;
      .tam-img {
        width: 40px;
        height: 40px;
        }
      }
    } 
      /*======SECTOR MAIN======*/

      main {
        
           
        .col {
           height: 450px;
           border-radius: 15px;
           cursor: pointer;
           
           .formato-imagen {
            width: 400PX;
            height: 400PX;
            border-radius: 15px;
                }
           }  
        }
              /* ----main index----*/

       .body-index{
        main {
             .col {
                height: 450px;
                border-radius: 15px;
                display: flex;
                justify-content: center;
                align-items: center;
                .texto-index {
                    color: aliceblue;
                    position: absolute;
                  } 
            }
         }  
       }
        /* ----main calzados----*/
        
     .body-calzados {
       
        main .col {
            .seccion-calzados {
                font-family: 'Courier New', Courier, monospace;
                color: maroon;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                   font-weight: 400;
                }
        } 
        .texto-calzados {
            color: aliceblue;
            position: absolute;
         } 
       }
    }
    /* ----main calzados----*/
    
    .body-Abrigos {
           
        main .col {
            .seccion-abrigos {
                font-family: 'Courier New', Courier, monospace;
                color: rgb(203, 214, 224);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                    font-weight: 400;
                }
        } 
        .texto-abrigos {
            color: aliceblue;
            position: absolute;
          }
       }  
    }
     /* ----main pantalones----*/
    
     .body-jeans {
           
        main .col {
            .seccion-jeans {
                font-family: 'Courier New', Courier, monospace;
                color: rgb(207, 213, 161);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                    font-weight: 400;
                }
        } 
        .texto-pantalones {
             color: burlywood;
             position: absolute;
        }
      }  
    }
      /* ----main remeras----*/
    
      .body-remeras {
           
        main .col {
            .seccion-remeras {
                font-family: 'Courier New', Courier, monospace;
                color: rgb(233, 52, 52);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                    font-weight: 400;
                }
        } 
        .texto-remeras {
            color: whitesmoke;
            position: absolute;
        }
      }  
    }  
     /*================ SECCION FOOTER ================*/
      
     footer {
        display: flex;
        justify-content: center;

        .pie-de-pagina {
            width: 100vw;
            display: flex;
            flex-direction: row;
            justify-content: center;
            list-style: none;
            li h3 {
                font-size: 15px;
                position: relative;
                top: 15px;
             } 

             // UTILIZO MAPS //

             $redes: (
                facebook: #0026a2,
                instagram: #c000f6,
                gmail: #ce3a3af6,
            );
        
            @each $red,$color in $redes {
                .medios-de-contacto-#{$red}{
                    background-color: $color;
                    width: 38px;
                    height: 50px;
                    margin-left: 10px;
                  }
            }
           }
     }
     
                /*------SECCION CORREO------*/
     
   .body-correo {
        width: 100vw;
        box-sizing: border-box;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../media/mailbox-g523efffa6_1920.jpg);
    .container {
        width: 600px;
        height: 500px;
        margin-top: 100px;
        background-image: radial-gradient(circle at 76.81% 107.48%, #9f4ff4 0, #7944f3 25%, #3c3cf2 50%, #0037f1 75%, #0034ef 100%);
        border-radius: 15px;
        font-size: 18px;
        padding: 30px;
        box-shadow: 7px 13px 37px #000;
        .row {
            .titulo-consulta {
                display: flex;
                justify-content: center;
                padding: 5px 0px;
                font-size: 40px;
                color: #9cf1ff; 
                 }
                .col {
                    @import "_datos-correo";
                }
                .botones-correo{ 
                    display: flex;
                  flex-direction: column;
                  justify-content: space-around;
                 } 
        } 
     }
   }  
 }

 /*--------------------AJUSTE DE RESOLUCION PARA PC/LAPTOP------------------*/

  @media screen and (min-width: 1024px){

    .body-index {
        width: 100vw;
        background-image: url('../media/tienda.jpg');
        background-size: center;
    }
    .body-calzados {
        background-image: url('../media/portada-calzados.jpg');
        background-size: cover;
    }
    .body-Abrigos {
        background-image: url('../media/portada-abrigos.jpg');
        background-size: cover;
    }
    .body-jeans {
        background-image: url('../media/portada-pantalones.jpg');
        background-size: cover;
      }
    .body-remeras {
        background-image: url('../media/led.jpg');
        background-size: cover;
    }    
 // UTILIZO MIXIN //
    
    @mixin grilla {
        grid-template-areas: 
        "logo"
        "encabezado"
        "nav"
      ;
      grid-gap: 3px; 
    }
  .header-paginas{
    width: 100vw;
    display: grid;
    @include grilla;
    
        @import "_header-encabezado";
        .nav-index{
            width: 98vw;
            grid-area: nav;
            border-radius: 15px;

            .tam-img {
                width: 40px;
                height: 40px;
             }
        } 
    }

                      /*======SECTOR MAIN======*/

    main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        div {
            height: 450px;
            border-radius: 15px;
            cursor: pointer;
         }   
         .col {
            .formato-imagen {
                width: 100%;
                height: 100%;
                transition: all 500ms ease-out;
                border-radius: 15px;
                 }
            }
         }
             /* ----main index----*/

       .body-index{
        main {
             .col {
                .texto-index {
                    display: flex;
                    justify-content: center;
                    width: 450px;
                    background: rgba(126, 214, 151, 0.5);
                    box-shadow: 6px 5px 5px rgba(227, 167, 167, 0.4);
                    transition: all 500ms ease-out;
                    opacity: 0;
                    visibility: hidden;
                    position: absolute;
                    
                    h2 {
                        color: azure;
                        font-size: 40px;
                        display: flex;
                        align-items: center;
                    }
                  } 
                  &:hover > .texto-index {
                    opacity: 1;
                    visibility: visible;
                }     
            }
         }  
       }

          /* ----main calzados----*/
        
     .body-calzados {
     main {
         .row{
            .seccion-calzados {
                font-family: 'Courier New', Courier, monospace;
                color: maroon;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                    font-weight: 400;
                }
        } 
        } 
         .col {

        .texto-calzados {
         display: flex;
         justify-content: center;
         width: 638px;
         background: rgba(239, 97, 97, 0.5);
         box-shadow: 6px 5px 5px rgba(98, 112, 241, 0.4);
         transition: all 500ms ease-out;
         opacity: 0;
         visibility: hidden;
         position: absolute;
         top:600px;
            h2 {
                color: azure;
                font-size: 40px;
                display: flex;
                align-items: center;
            }
        }
         &:hover > .texto-calzados {
            opacity: 1;
            visibility: visible;
        }
      } 
     }   
        
    }
     
        /* ----main abrigos----*/
    
        .body-Abrigos {
        main {
            .row {
                .seccion-abrigos {
                    font-family: 'Courier New', Courier, monospace;
                    color: rgb(203, 214, 224);
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    h2{
                        font-size: 40px;
                        font-weight: 400;
                    }
            } 
            }
             .col {
                
            .texto-abrigos {
                display: flex;
                justify-content: center;
                width: 415px;
                background: rgba(91, 229, 225, 0.5);
                box-shadow: 6px 5px 5px rgba(238, 231, 99, 0.4);
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;
                position: absolute;
                top:600px;
                h2 {
                    color: azure;
                    font-size: 40px;
                    display: flex;
                    align-items: center;
                }
            }
             &:hover > .texto-abrigos {
                opacity: 1;
                visibility: visible;
            }
          }  
        }
        }   
            

        /* ----main pantalones----*/
    
     .body-jeans {
        main {
          .row {
            .seccion-jeans {
                font-family: 'Courier New', Courier, monospace;
                color: rgb(207, 213, 161);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                    font-weight: 400;
                }
             } 
            }  
            .col {
                
            .texto-pantalones {
                display: flex;
                justify-content: center;
                width: 415px;
                background: rgba(211, 232, 55, 0.5);
                box-shadow: 6px 5px 5px rgba(191, 64, 128, 0.4);
                transition: all 500ms ease-out;
                opacity: 0;
                visibility: hidden;
                text-align: center;
                position: absolute;
                top:600px;
                h2 {
                    color: azure;
                    font-size: 40px;
                    display: flex;
                    align-items: center;
                }
            }
             &:hover > .texto-pantalones {
                opacity: 1;
                visibility: visible;
            }
          }  
        }   
        
    }
    
        /* ----main remeras----*/
    
     .body-remeras {
       main {
        .row {
            .seccion-remeras {
                font-family: 'Courier New', Courier, monospace;
                color: rgb(233, 52, 52);
                display: flex;
                justify-content: center;
                align-items: flex-start;
                h2{
                    font-size: 40px;
                    font-weight: 400;
                }
        }   
        }   
         .col {
            
        .texto-remeras {
            display: flex;
            justify-content: center;
            width: 638px;
            background: rgba(211, 232, 55, 0.5);
            box-shadow: 6px 5px 5px rgba(191, 64, 128, 0.4);
            transition: all 500ms ease-out;
            opacity: 0;
            visibility: hidden;
            text-align: center;
            position: absolute;
            top:600px;
            h2 {
                color: azure;
                font-size: 40px;
                display: flex;
                align-items: center;
            }
        }
         &:hover > .texto-remeras {
            opacity: 1;
            visibility: visible;
        }
      }  
       }    
       
    }    
      /*================ SECCION FOOTER ================*/
      
     footer {

        .pie-de-pagina {
            width: 600px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            box-sizing: border-box;
            list-style: none;
            li h3 {
                font-size: 30px;
                color: white;
                position: relative;
                top: 15px;
             }
             
             // UTILIZO MAPS //

             $redes: (
        facebook: #0026a2,
        instagram: #c000f6,
        gmail: #ce3a3af6,
        );

    @each $red,$color in $redes {
        .medios-de-contacto-#{$red}{
             position: relative;
             top: 15px; 
            background-color: $color;
            width: 40px;
            height: 50px; margin-left: 10px;
            transition: all .4s ease-in-out;
             &:hover {
             transform: scale(1.3);
             }
          }
    }
        }
     }
     
                /*------SECCION CORREO------*/
     
   .body-correo {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../media/mailbox-g523efffa6_1920.jpg');
    .container {
        width: 550px;
        height: 480px;
        margin-top: 250px;
        background-image: radial-gradient(circle at 76.81% 107.48%, #9f4ff4 0, #7944f3 25%, #3c3cf2 50%, #0037f1 75%, #0034ef 100%);
        border-radius: 15px;
        font-size: 18px;
        padding: 30px;
        box-shadow: 7px 13px 37px #000;
        .row {
            .titulo-consulta {
                display: flex;
                justify-content: center;
                padding: 5px 0px;
                font-size: 40px;
                color: #9cf1ff;
                 }
                .col {
                    @import "_datos-correo";
                }
                .botones-correo{ 
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                 }  
            }
 
    }

   }
}